./
build/**
tests/*.o
tests/*.out
gtests/*.o
gtests/**/*.o
gtests/*.out
nbproject/**
**/tags
*.files
*.includes
*.creator
*.config
*.user
log

.vscode/ipch/**
.clangd/**
compile_commands.json

temp.cflags
temp.cxxflags
temp.pro
